<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Latest Movies</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-backdrop [movies]="moviesRecientes"></app-slideshow-backdrop>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3> Billboard</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-poster [movies]="moviesRecientes"></app-slideshow-poster>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Popular Movies</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-pares [movies]="moviesPopular"
                        (cargarMas)="cargarMas()"></app-slideshow-pares>
</ion-content>
